proj.android-studio/app/assets/Default/DemoPlayer.ExportJson
proj.android-studio/app/assets/Default/DemoPlayer0.plist
proj.android-studio/app/assets/Default/DemoPlayer0.png
proj.android-studio/app/assets/images/HelloWorld.png
proj.android-studio/app/assets/ios_cer/aps_development.cer
proj.android-studio/app/assets/ios_cer/Certificates.p12
proj.android-studio/app/assets/ios_cer/CertificateSigningRequest.certSigningRequest
proj.android-studio/app/assets/res/AnimationBaseTest/AnimationBaseTest.json
proj.android-studio/app/assets/res/AnimationBaseTest/texture.json
proj.android-studio/app/assets/res/AnimationBaseTest/texture.png
proj.android-studio/app/assets/res/CoreElement/CoreElement.json
proj.android-studio/app/assets/res/CoreElement/CoreElement_texture_1.json
proj.android-studio/app/assets/res/CoreElement/CoreElement_texture_1.png
proj.android-studio/app/assets/res/Dealer/PokerKing_ske.json
proj.android-studio/app/assets/res/Dealer/PokerKing_tex.json
proj.android-studio/app/assets/res/Dealer/PokerKing_tex.png
proj.android-studio/app/assets/res/Default/DemoPlayer.ExportJson
proj.android-studio/app/assets/res/Default/DemoPlayer0.plist
proj.android-studio/app/assets/res/Default/DemoPlayer0.png
proj.android-studio/app/assets/res/DragonBoy/DragonBoy.json
proj.android-studio/app/assets/res/DragonBoy/DragonBoy_texture_1.json
proj.android-studio/app/assets/res/DragonBoy/DragonBoy_texture_1.png
proj.android-studio/app/assets/res/images/HelloWorld.png
proj.android-studio/app/assets/res/Knight/Knight.json
proj.android-studio/app/assets/res/Knight/Knight_texture_1.json
proj.android-studio/app/assets/res/Knight/Knight_texture_1.png
proj.android-studio/app/assets/res/loading/loading1.png
proj.android-studio/app/assets/res/loading/loading10.png
proj.android-studio/app/assets/res/loading/loading11.png
proj.android-studio/app/assets/res/loading/loading12.png
proj.android-studio/app/assets/res/loading/loading2.png
proj.android-studio/app/assets/res/loading/loading3.png
proj.android-studio/app/assets/res/loading/loading4.png
proj.android-studio/app/assets/res/loading/loading5.png
proj.android-studio/app/assets/res/loading/loading6.png
proj.android-studio/app/assets/res/loading/loading7.png
proj.android-studio/app/assets/res/loading/loading8.png
proj.android-studio/app/assets/res/loading/loading9.png
proj.android-studio/app/assets/res/loading/loadingBich.png
proj.android-studio/app/assets/res/loading/loadingChuong.png
proj.android-studio/app/assets/res/loading/loadingCo.png
proj.android-studio/app/assets/res/loading/loadingRo.png
proj.android-studio/app/assets/res/Ubbie/texture.json
proj.android-studio/app/assets/res/Ubbie/texture.png
proj.android-studio/app/assets/res/Ubbie/Ubbie.json
proj.android-studio/app/assets/res/bg_event.png
proj.android-studio/app/assets/res/MainScene.csb
proj.android-studio/app/assets/res/Skeleton.csb
proj.android-studio/app/assets/bg_event.png
proj.android-studio/app/assets/MainScene.csb
proj.android-studio/app/assets/sdkbox_config.json
proj.android-studio/app/assets/Skeleton.csb
proj.android-studio/app/obj/local/armeabi/objs-debug/audioengine_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/box2d_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/bullet_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos_extension_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos_flatbuffers_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos_network_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos_ui_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos2dx_internal_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos2dx_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos2dxandroid_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocos3d_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocosbuilder_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocosdenshion_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cocostudio_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/cpufeatures/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/Animation.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/Animation.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/AnimationState.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/AnimationState.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/TimelineState.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/TimelineState.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/WorldClock.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/animation/WorldClock.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/armature/Armature.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/armature/Armature.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/armature/Bone.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/armature/Bone.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/armature/Slot.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/armature/Slot.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCArmatureDisplay.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCArmatureDisplay.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCFactory.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCFactory.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCSlot.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCSlot.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCTextureData.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/cocos2dx/CCTextureData.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/core/BaseObject.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/core/BaseObject.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/events/EventObject.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/events/EventObject.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/factories/BaseFactory.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/factories/BaseFactory.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/AnimationData.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/AnimationData.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/ArmatureData.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/ArmatureData.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/DragonBonesData.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/DragonBonesData.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/FrameData.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/FrameData.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/TimelineData.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/model/TimelineData.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/parsers/DataParser.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/parsers/DataParser.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/parsers/JSONDataParser.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/parsers/JSONDataParser.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/textures/TextureData.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBones/textures/TextureData.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/AnimationBaseTest.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/AnimationBaseTest.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/CoreElement.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/CoreElement.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/HelloDragonBones.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/HelloDragonBones.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/Knight.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/Knight.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/PerformanceTest.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/DragonBonesTest/PerformanceTest.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/AppDelegate.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/AppDelegate.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/DBAnimation.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/DBAnimation.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/Dealer.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/Dealer.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/Popup.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/Popup.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/PopupWaiting.o
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/__/__/__/Classes/MiniGame/PopupWaiting.o.d
proj.android-studio/app/obj/local/armeabi/objs-debug/MyGame_shared/linker.list
proj.android-studio/app/obj/local/armeabi/objs-debug/recast_static/archiver.list
proj.android-studio/app/obj/local/armeabi/objs-debug/spine_static/archiver.list
proj.android-studio/app/libs/armeabi/gdb.setup
proj.android-studio/app/libs/armeabi/gdbserver
proj.android-studio/app/libs/armeabi/libMyGame.so
