<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_flying_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_flying_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{84,0},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_flying_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{168,0},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_flying_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,74}</string>
                <key>textureRect</key>
                <string>{{252,0},{84,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_hero_flying.png</string>
            <key>size</key>
            <string>{336,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04cb6cfdf9986536acb97b61eccb2d61:6eee1bb52d339cc56c3ba11267170488:5277ecfb1b6bf213efad3b3c44c1afa4$</string>
            <key>textureFileName</key>
            <string>anim_hero_flying.png</string>
        </dict>
    </dict>
</plist>
