<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero_die_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{68,70}</string>
			<key>spriteSourceSize</key>
			<string>{68,70}</string>
			<key>textureRect</key>
			<string>{{0,0},{68,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_die_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{67,59}</string>
			<key>spriteSourceSize</key>
			<string>{67,59}</string>
			<key>textureRect</key>
			<string>{{0,70},{67,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_die_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{67,50}</string>
			<key>spriteSourceSize</key>
			<string>{67,50}</string>
			<key>textureRect</key>
			<string>{{0,129},{67,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>anim_hero_die.png</string>
		<key>size</key>
		<string>{68,179}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:67333c35ba5245b3e57a517b6704ecbb:cc8d4f10df1a4f94bcc52d5cb3f2cf65:cd859f9bb2e20f790506fd90213a42b0$</string>
		<key>textureFileName</key>
		<string>anim_hero_die.png</string>
	</dict>
</dict>
</plist>
