<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_run_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_run_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_run_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,84}</string>
                <key>textureRect</key>
                <string>{{0,168},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_run_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,84}</string>
                <key>textureRect</key>
                <string>{{0,252},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_run_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,84}</string>
                <key>textureRect</key>
                <string>{{0,336},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_run_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,84}</string>
                <key>spriteSourceSize</key>
                <string>{54,84}</string>
                <key>textureRect</key>
                <string>{{0,420},{54,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_hero_run.png</string>
            <key>size</key>
            <string>{54,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:483215b7fd515e57d0ec4b5d9b262443:68890c0eb57ca44fc9a776ecad4386b2:5f4b857de503a4eace02dfb2a455ea2c$</string>
            <key>textureFileName</key>
            <string>anim_hero_run.png</string>
        </dict>
    </dict>
</plist>
