<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero_stand_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,86}</string>
			<key>spriteSourceSize</key>
			<string>{51,86}</string>
			<key>textureRect</key>
			<string>{{0,0},{51,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_stand_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,86}</string>
			<key>spriteSourceSize</key>
			<string>{51,86}</string>
			<key>textureRect</key>
			<string>{{0,86},{51,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_stand_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,86}</string>
			<key>spriteSourceSize</key>
			<string>{51,86}</string>
			<key>textureRect</key>
			<string>{{0,172},{51,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_stand_04.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,86}</string>
			<key>spriteSourceSize</key>
			<string>{51,86}</string>
			<key>textureRect</key>
			<string>{{0,258},{51,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_stand_05.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,86}</string>
			<key>spriteSourceSize</key>
			<string>{51,86}</string>
			<key>textureRect</key>
			<string>{{0,344},{51,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>anim_hero_standing.png</string>
		<key>size</key>
		<string>{51,430}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9c3d664bffca5db2acbf59014cd1b725:c8b017fc0b27e721c3cd2f546504d5f6:9efd3e6a518ebad7fe8f0999a6e84de3$</string>
		<key>textureFileName</key>
		<string>anim_hero_standing.png</string>
	</dict>
</dict>
</plist>
