<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_jump_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,63}</string>
                <key>spriteSourceSize</key>
                <string>{58,63}</string>
                <key>textureRect</key>
                <string>{{0,0},{58,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_jump_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,67}</string>
                <key>textureRect</key>
                <string>{{0,63},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_jump_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{58,68}</string>
                <key>textureRect</key>
                <string>{{0,130},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_jump_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{58,68}</string>
                <key>textureRect</key>
                <string>{{0,198},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_jump_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{58,68}</string>
                <key>textureRect</key>
                <string>{{0,266},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_hero_jump.png</string>
            <key>size</key>
            <string>{58,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c33a98af68885ed46fe0460d04fddd9:116e825b2efffa9c969759fef30fe113:0946afa3287afc64ceab36b660eb3376$</string>
            <key>textureFileName</key>
            <string>anim_hero_jump.png</string>
        </dict>
    </dict>
</plist>
