<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hero_through_01.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{0,0},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_through_02.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,83}</string>
			<key>spriteSourceSize</key>
			<string>{60,83}</string>
			<key>textureRect</key>
			<string>{{0,84},{60,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hero_through_03.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{0,167},{60,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>anim_hero_throw.png</string>
		<key>size</key>
		<string>{60,251}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:79832d24aa7092fd4991accccfb22c2b:7e6cc7162414a1295b3380317223f647:b239ac2d8f08cda0c95fafc87001f532$</string>
		<key>textureFileName</key>
		<string>anim_hero_throw.png</string>
	</dict>
</dict>
</plist>
