<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket_red_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{46,22}</string>
                <key>textureRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket_red_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,20}</string>
                <key>spriteSourceSize</key>
                <string>{48,20}</string>
                <key>textureRect</key>
                <string>{{0,22},{48,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket_red_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,19}</string>
                <key>spriteSourceSize</key>
                <string>{48,19}</string>
                <key>textureRect</key>
                <string>{{0,42},{48,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rocket_red.png</string>
            <key>size</key>
            <string>{48,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e4b7dbaf682068ba6ba99558355d2f:157225a66baab5540db604c4e46eab60:c6685494df0760e567b3a5c5c427d99e$</string>
            <key>textureFileName</key>
            <string>rocket_red.png</string>
        </dict>
    </dict>
</plist>
